* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #8db596;
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    font-family:'Great Vibes', serif;  
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin-top: 10px;
}

.menu-item {
    background-color: #b0d3b9;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.menu-item:hover {
    background-color: #d1e8d1;
    color: #8db596;
}

.main-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
}

.image-carousel {
    width: 80%;
    max-width: 900px;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    background-color: #8db596;
    color: #f2f2f2; 
    text-align: center;
    padding: 20px;
    font-size: 1.1em;
    margin-top: 40px;
}  
/* Estilos para pantallas grandes (mayores a 1024px de ancho) */
@media (min-width: 1025px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

/* Estilos para pantallas medianas (entre 768px y 1024px de ancho) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
}

/* Estilos para pantallas pequeñas (menos de 768px de ancho) */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
